body {
  margin: 0px;
  padding: 0px;
  background-repeat: repeat;
  background-size: auto;
  background-attachment: fixed;
  width: 100%;
  font-family: 'Play', sans-serif;
  background-image: url(../imagenes/body/fondodelapantalla.svg); }
  body div .disclaimer {
    display: none !important; }

header {
  margin: 0%;
  padding: 0px;
  position: fixed;
  z-index: +3;
  top: 0;
  width: 100%;
  background-color: #090a11;
  border-bottom: 1px solid #653d8f; }
  header nav .navbar-toggler {
    background-color: #653d8f; }
  header nav .background-header {
    background-color: #090a11;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  header nav a .btn:hover {
    color: black;
    background-color: #653d8f; }
  header nav a .btn {
    color: #d8c9e8;
    border: 1px solid #653d8f; }

main h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
  padding-bottom: 2px;
  margin: 0px;
  font-size: 3rem;
  color: #d8c9e8;
  background-color: #060713;
  text-align: center; }

main h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 10px;
  flex-wrap: wrap;
  font-size: 3rem;
  color: #d8c9e8;
  text-align: center; }

main .fondo-1 {
  margin-bottom: 0px; }

main .fondo-2 {
  background-color: #0d0f26;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 10px; }

.carouselstyle {
  z-index: -1;
  flex-wrap: wrap;
  background-color: #060713; }

#streamers {
  margin: 0px;
  padding: 9rem; }

.contenedor-img-streamers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 0px;
  flex-wrap: wrap; }

.img-streamers {
  margin: 20px;
  padding: 0px;
  width: 200px;
  height: 200px;
  border-radius: 25px;
  border: 2px solid #d8c9e8; }

#esport {
  margin: 0px;
  padding: 9rem; }

.contenedor-img-juego {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  flex-wrap: wrap; }

.img-juegos {
  margin: 100px;
  padding: 0px;
  width: 340px;
  height: 215px;
  border-radius: 10px;
  border: 2px solid #060713; }

.contenedor-img-jugadores {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 30%; }

.img-jugadores {
  margin: 20px;
  padding: 0px;
  border: 5px solid #060713;
  border-radius: 25px;
  width: 100px;
  height: 100px; }

#gaminghouse {
  margin: 0px;
  padding: 9rem; }

.gaminghouse {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 40px;
  flex-wrap: wrap; }

.iframe {
  margin: 20px;
  padding: 0px;
  border-radius: 25px;
  border: 2px solid #d8c9e8; }

#partners {
  margin: 0px;
  padding: 9rem; }

.contenedor-img-partners {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 40px;
  flex-wrap: wrap; }

.columna1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column; }

.columna2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column; }

.img-partners {
  margin: 20px;
  padding: 0px;
  width: 200px;
  height: 200px;
  border-radius: 25px;
  border: 2px solid #060713; }

footer {
  background-color: #090a11; }
  footer section .nuestras-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    bottom: 0; }
  footer section .contenedor-img-nuestras-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
  footer section .img-nuestras-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 0;
    width: 60%; }
  footer section .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
  footer section p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d8c9e8; }

.img-streamers:hover, .img-jugadores:hover, .iframe:hover, .img-partners:hover, footer section .img-nuestras-redes:hover {
  transform: scale(1.1);
  transition: all 0.2s; }
