body {
  margin: 0px;
  padding: 0px;
  background-repeat: repeat;
  background-size: auto;
  background-attachment: fixed;
  font-family: 'Play', sans-serif;
  background-image: url(../imagenes/body/fondodelapantalla.svg);
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

header {
  margin: 0px;
  padding: 0px;
  position: fixed;
  z-index: +3;
  top: 0;
  width: 100%;
  background-color: #090a11;
  border-bottom: 1px solid #653d8f; }
  header nav .navbar-toggler {
    background-color: #653d8f; }
  header nav .background-header {
    background-color: #090a11;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  header nav a .btn:hover {
    color: black;
    background-color: #653d8f; }
  header nav a .btn {
    color: #d8c9e8;
    border: 1px solid #653d8f; }

main h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
  margin-top: 9rem;
  font-size: 3.5rem;
  color: #d8c9e8;
  text-align: center;
  text-shadow: 2px 2px 10px #653d8f; }

main h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 10px;
  flex-wrap: wrap;
  font-size: 3rem;
  color: #d8c9e8;
  text-align: center;
  text-shadow: 2px 2px 10px #060713; }

main .fondo-1 {
  margin-bottom: 0px; }

main .fondo-2 {
  background-color: #0d0f26;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 10px; }

main .h1-paginas-secundarias {
  background: none;
  margin-top: 1rem;
  padding: 0px;
  text-shadow: 2px 2px 10px #060713; }

@media (min-width: 701px) and (max-width: 991px) {
  main h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    font-size: 3rem;
    color: #d8c9e8;
    text-align: center;
    text-shadow: 2px 2px 10px #653d8f; }
  main h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 10px;
    flex-wrap: wrap;
    font-size: 2.5rem;
    color: #d8c9e8;
    text-align: center;
    text-shadow: 2px 2px 10px #060713; }
  main .h1-paginas-secundarias {
    margin: 0px;
    padding: 0px;
    background: none;
    font-size: 3rem;
    text-shadow: 2px 2px 10px #060713; } }

@media (min-width: 300px) and (max-width: 700px) {
  main h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    font-size: 2.5rem;
    color: #d8c9e8;
    text-align: center;
    text-shadow: 2px 2px 10px #653d8f; }
  main h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 10px;
    flex-wrap: wrap;
    font-size: 2rem;
    color: #d8c9e8;
    text-align: center;
    text-shadow: 2px 2px 10px #060713; }
  main .h1-paginas-secundarias {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    flex-wrap: wrap;
    background: none;
    font-size: 2rem;
    text-shadow: 2px 2px 10px #060713; } }

.carouselstyle {
  z-index: -1;
  flex-wrap: wrap;
  background-color: #060713; }

.logo-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  margin-top: 6rem;
  display: none; }

@media (min-width: 701px) and (max-width: 991px) {
  .logo-mobile {
    display: block; } }

@media (min-width: 300px) and (max-width: 700px) {
  .logo-mobile {
    display: block; } }

.container-videos {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #060713;
  flex-wrap: wrap; }

.estilo-videos {
  margin: 1rem;
  padding: 0px;
  border-radius: 2rem;
  margin-bottom: 3rem;
  border: 2px solid #d8c9e8;
  width: 60%; }

.container-p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
  padding: 0rem;
  margin-top: 4rem;
  width: 40%; }

.estilo-p {
  color: #d8c9e8;
  font-size: 2rem;
  text-align: center;
  text-shadow: 5px 5px 10px #653d8f; }

@media (min-width: 701px) and (max-width: 991px) {
  .estilo-videos {
    margin: 1rem;
    padding: 0px;
    margin-bottom: 4rem;
    border-radius: 2rem;
    border: 2px solid #d8c9e8;
    width: 80%; }
  .container-p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    margin-top: 4rem;
    width: 50%; }
  .estilo-p {
    color: #d8c9e8;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 5px 5px 10px #653d8f; } }

@media (min-width: 300px) and (max-width: 700px) {
  .estilo-videos {
    margin: 30px;
    padding: 0px;
    margin-bottom: 4rem;
    border-radius: 2rem;
    border: 2px solid #d8c9e8;
    width: 90%; }
  .container-p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    margin-top: 4rem;
    width: 100%; }
  .estilo-p {
    color: #d8c9e8;
    font-size: 1rem;
    text-align: center;
    text-shadow: 2px 2px 10px #653d8f; } }

#gaminghouse {
  margin: 0px;
  padding: 2rem; }

.gaminghouse {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 40px;
  flex-wrap: wrap; }

.iframe {
  margin: 20px;
  padding: 0px;
  border-radius: 25px;
  border: 2px solid #d8c9e8; }

#streamers {
  margin: 0px;
  padding: 9rem; }

.contenedor-img-streamers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 0px;
  flex-wrap: wrap; }

.img-streamers {
  margin: 2rem;
  padding: 0px;
  width: 200px;
  height: 200px;
  border-radius: 25px;
  border: 2px solid #d8c9e8; }

@media (min-width: 701px) and (max-width: 991px) {
  #streamers {
    margin: 0px;
    padding: 7rem; } }

@media (min-width: 300px) and (max-width: 700px) {
  #streamers {
    margin: 0px;
    padding: 6rem; } }

#esport {
  margin: 0px;
  padding: 0px;
  padding-top: 10rem; }

.contenedor-img-juego {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  flex-wrap: wrap; }

.img-juegos {
  margin: 2rem;
  padding: 0px;
  width: 100%;
  border-radius: 1rem;
  border: 2px solid #060713; }

.contenedor-img-jugadores {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 30%; }

.img-jugadores {
  margin: 20px;
  padding: 0px;
  border: 5px solid #060713;
  border-radius: 25px;
  width: 100px;
  height: 100px; }

@media (min-width: 701px) and (max-width: 991px) {
  #esport {
    margin: 0px;
    padding: 0px;
    padding-top: 7rem; }
  .contenedor-img-juego {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 0px;
    flex-wrap: wrap; } }

@media (min-width: 300px) and (max-width: 700px) {
  #esport {
    margin: 0px;
    padding: 0px;
    padding-top: 6rem; }
  .contenedor-img-juego {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    flex-wrap: wrap; } }

#partners {
  margin: 0px;
  padding: 9rem; }

.contenedor-img-partners {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 40px;
  flex-wrap: wrap; }

.columna1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column; }

.columna2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column; }

.img-partners {
  margin: 20px;
  padding: 0px;
  width: 200px;
  height: 200px;
  border-radius: 25px;
  border: 2px solid #060713; }

@media (min-width: 701px) and (max-width: 991px) {
  #partners {
    margin: 0px;
    padding: 7rem; } }

@media (min-width: 300px) and (max-width: 700px) {
  #partners {
    margin: 0px;
    padding: 6rem; } }

footer {
  background-color: #090a11;
  width: 100%;
  margin-top: auto; }
  footer section .nuestras-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    flex-wrap: wrap;
    bottom: 0; }
  footer section .contenedor-img-nuestras-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
  footer section .img-nuestras-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 0px;
    width: 60%; }
  footer section .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
  footer section p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d8c9e8; }

.logo-juego {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 0px;
  border: 5px solid #d8c9e8;
  border-radius: 0.5rem; }

.container-lj {
  display: flex;
  justify-content: center;
  align-items: center; }

.container-dj {
  margin: 0px;
  padding: 0rem; }

.card {
  margin: 2rem;
  padding: 0.15rem; }

.card:hover {
  border: 5px solid #0d0f26; }

.list-group-item {
  background-color: #060713;
  color: #d8c9e8; }

.card-body {
  background-color: #060713;
  color: #d8c9e8; }

@media (min-width: 300px) and (max-width: 700px) {
  .card {
    margin: 2rem;
    padding: 0.15rem;
    width: 30%; } }

.main-jugadores {
  background-color: #0d0f26; }

.h1-display-jugadores {
  padding-top: 7rem;
  margin-top: 2rem;
  font-size: 3rem;
  color: #d8c9e8;
  text-align: center; }

@media (min-width: 701px) and (max-width: 991px) {
  .h1-display-jugadores {
    padding-top: 5rem;
    font-size: 3rem;
    color: #d8c9e8;
    text-align: center; } }

@media (min-width: 300px) and (max-width: 700px) {
  .h1-display-jugadores {
    padding-top: 4rem;
    font-size: 2rem;
    color: #d8c9e8;
    text-align: center; } }

.h1-exito {
  margin: 10vh;
  padding: 0rem;
  text-shadow: 2px 2px 10px #090a11; }

.section-exito {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }

.a-style {
  text-decoration: none;
  color: #d8c9e8; }

.a-style:hover {
  color: #d8c9e8; }

.h1-contactanos {
  text-shadow: 5px 5px 10px #090a11; }

.button-style {
  color: #d8c9e8;
  background-color: #0d0f26;
  border-radius: 5px; }

.form-control {
  display: inline-block; }

main section {
  min-height: 100vh;
  margin: 0rem;
  padding: 0rem; }
  main section form {
    display: flex;
    justify-content: center;
    align-items: center; }

@media (min-width: 701px) and (max-width: 991px) {
  .section-form {
    margin: 0px;
    padding: 7rem; } }

@media (min-width: 300px) and (max-width: 700px) {
  .section-form {
    margin: 0px;
    padding: 6rem; } }

.iframe:hover, .img-streamers:hover, .img-juegos:hover, .img-partners:hover, footer section .img-nuestras-redes:hover, .card:hover {
  transform: scale(1.05);
  transition: all 0.2s; }

.disclaimer {
  display: none !important; }
