$color: hsl(235, 50%, 5%);
$color-principal: hsl(235, 50%, 10%);
$color-secundario: hsl(269, 40%, 40%);
$color-textos: hsl(269, 40%, 85%);
$color-fondo2: hsl(235, 30%, 5%);

*{  margin: 0;
    padding: 0;
}
body{
    background-repeat: repeat;
    background-size: auto;
    background-attachment: fixed;
    width: 100%;
    font-family: 'Play', sans-serif;
    background-image: url(../Imagenes/body/fondodelapantalla.jpg);
    
    //HEADER STYLE

    header{
        position: fixed;
        z-index: +3;
        margin: 0%;
        top:0;    
        width: 100%;
        background-color: $color;
        
        nav{
            .background-header{
                background-color: $color-principal;
                width: 100%;
                display: flex;
                justify-content: center;
            }
            a{
                .btn:hover{
                    color: black;
                    background-color: $color-textos
                }
                .btn{
                    color: $color-textos;
                    border: 1px solid $color-secundario;
                }
            }
        } 
    }
    main{
        h1{
            font-size: 4rem;
            padding: 10px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            color: $color-textos;
        }
        h2{
            font-size: 4rem;
            padding: 10px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            color: $color-textos;
        }

        //SECCION CAROUSEL

        .carouselmodify{
            z-index: -1;
            padding: 1px;
            margin-top: 120px;
        }

        //SECCION IMAGENES DE STREAMERS

        .fondo-1{
            margin-bottom: 0px;
        }
        .fondo-2{
            background-color: $color-principal;
            background-size: cover;
            background-attachment: fixed;
            margin-bottom: 10px;
        }
        #streamers{
            padding: 150px;
        }
        .contenedor-img-streamers{
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            margin: 40px;
            flex-wrap: wrap;
        }
        .img-streamers{
            width: 200px;
            height: 200px;
            border-radius: 25px;
            margin: 20px;
            border: 2px solid $color-textos;
        }
        .img-streamers:hover{
            transform: scale(1.10);
            transition: all 0.2s;
        }
        
        //SECCION EQUIPOS DE E-SPORT
        
        #esport{
            padding: 150px;
        }
        .contenedor-img-juego {
            margin: 40px;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        .img-juegos {
            width: 370px;
            height: 215px;
            margin: 100px 20px;
            border-radius: 25px;
            border: 2px solid $color-principal;
        }      
        .contenedor-img-jugadores {
            width: 30%;
            margin: 0px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
        }
        .img-jugadores {
            border: 5px solid $color-principal;
            border-radius: 25px;
            width: 100px;
            height: 100px;
            margin: 20px;
        }
        .img-jugadores:hover{
            transform: scale(1.10);
            transition: all 0.2s;
        }
        
        //SECCION GAMING HOUSE

        #gaminghouse{
            padding: 150px;
        }
        .gaminghouse{
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 40px;
        }
        .iframe{
            margin: 20px;
            border-radius: 25px;
            border: 2px solid $color-textos;
        }
        .iframe:hover{
            transform: scale(1.10);
            transition: all 0.2s;
        }

        //SECCION PARTNER

        #partners{
            padding: 150px;
        }
        .contenedor-img-partners{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            padding: 40px;
        }
        .columna1{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
        .columna2{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
        .img-partners{
            width: 200px;
            height: 200px;
            margin: 20px;
            border-radius: 25px;
            border: 2px solid hsl(235, 50%, 10%);
        }
        .img-partners:hover{
            transform: scale(1.10);
            transition: all 0.2s;
        }
    }
        
    //SECCION CONTACTANOS

    footer{
        background-color: $color;
        section{
            .nuestras-redes{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                bottom: 0;
            }
            .contenedor-img-nuestras-redes{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                justify-content: center;
            }
             
            .img-nuestras-redes{
                width: 60%;
                margin: 10px;
                display: flex;
                justify-content: center;
            }
            .img-nuestras-redes:hover{
                transform: scale(1.10);
                transition: all 0.2s;
            }
             
            .copyright{
                display: flex;
                width: 100%;
                justify-content: center;
            }
             
            p{
                display: flex;
                color: $color-textos;
            }
        }
    }
}