.main-jugadores{
    background-color: nth($colores, 1);
}

.h1-display-jugadores{
    padding-top: 7rem;
    margin-top: 2rem;
    font-size: 3rem;
    color: nth($colores, 5);
    text-align: center;
    
}
