//AGREGO ESTILOS AL FOOTER

footer{
    background-color: nth($colores, 3);
    section{
        .nuestras-redes{
            @include flexbox-grid (flex, center, center);
            @include margin-padding (0px,0px);
            flex-wrap: wrap;
            bottom: 0;
        }
        .contenedor-img-nuestras-redes{
            @include flexbox-grid (flex, center, center);
            width: 100%;
        }
        .img-nuestras-redes{
            @include flexbox-grid (flex, center, center);
            @include margin-padding (10px,0);
            width: 60%;
        }
        .img-nuestras-redes:hover{
            @extend %animacion;
        }
        .copyright{
            @include flexbox-grid (flex, center, center);
            width: 100%;
        }
        p{
            @include flexbox-grid (flex, center, center);
            color: nth($colores, 5);
        }
    }
}