//AGREGO ESTILOS AL HEADER
header{
    @include margin-padding (0%,0px);
    position: fixed;
     z-index: +3;
     top:0;    
     width: 100%;
     background-color: nth($colores, 3);
     border-bottom: 1px solid nth($colores, 4);
    nav{
        .navbar-toggler{
            background-color: nth($colores, 4);
        }
        .background-header{
             background-color: nth($colores, 3);
             width: 100%;
             @include flexbox-grid (flex, center, center);
        }
        a{
            .btn:hover{
                 color: black;
                 background-color: nth($colores, 4)
            }
            .btn{
                color: nth($colores, 5);
                border: 1px solid nth($colores, 4);
            }
        }
    } 
}