//DESKTOP FIRST
main{
    h1{
        @include flexbox-grid (flex, center, center);
        padding-bottom: 2px;
        margin-top: 9rem;
        font-size: 3.5rem;
        color: nth($colores, 5);
        text-align: center;
    }
    h2{
        @include flexbox-grid (flex, center, center);
        @include margin-padding (0px,10px);
        flex-wrap: wrap;
        font-size: 3rem;
        color: nth($colores, 5);
        text-align: center;
    }
    .fondo-1{
        margin-bottom: 0px;
    }
    .fondo-2{
        background-color: nth($colores, 1);
        background-size: cover;
        background-attachment: fixed;
        margin-bottom: 10px;
    }
    .h1-paginas-secundarias{
        background: none;
        margin-top: 1rem;
        padding: 0px;
    }
}

//MEDIA QUERY MIN-WIDTH 701px y MAX-WIDTH 991px
@media (min-width:701px) and (max-width:991px){
    main{
        h1{
            @include flexbox-grid (flex, center, center);
            @include margin-padding (1rem,1rem);
            font-size: 3rem;
            color: nth($colores, 5);
            text-align: center;
        }
        h2{
            @include flexbox-grid (flex, center, center);
            @include margin-padding (0px,10px);
            flex-wrap: wrap;
            font-size: 2.5rem;
            color: nth($colores, 5);
            text-align: center;
        }
        .h1-paginas-secundarias{
            @include margin-padding (0px,0px);
            background: none;
            font-size:3rem;
        }
    }
}

//MEDIA QUERY MIN-WIDTH 300px y MAX-WIDTH 700px
@media (min-width: 300px) and (max-width: 700px){
    main{
        h1{
            @include flexbox-grid (flex, center, center);
            @include margin-padding (1rem,1rem);
            font-size: 2.5rem;
            color: nth($colores, 5);
            text-align: center;
        }
        h2{
            @include flexbox-grid (flex, center, center);
            @include margin-padding (0px,10px);
            flex-wrap: wrap;
            font-size: 2rem;
            color: nth($colores, 5);
            text-align: center;
        }
        .h1-paginas-secundarias{
            @include flexbox-grid (flex, center, center);
            @include margin-padding (0px,0px);
            flex-wrap: wrap;
            background: none;
            font-size:2rem;

        }
    }
}