//AGREGO ESTILOS A LA SECCION GAMING HOUSE
#gaminghouse{
    padding: 150px;
}
.gaminghouse{
    @include flexbox-center;
    flex-wrap: wrap;
    align-content: center;
    padding: 40px;
}
.iframe{
    margin: 20px;
    border-radius: 25px;
    border: 2px solid nth($colores, 5);
}
.iframe:hover{
    transform: scale(1.10);
    transition: all 0.2s;
}