//AGREGO ESTILOS A LA SECCION GAMING HOUSE
#gaminghouse{
    @include margin-padding (0px,9rem);;
}
.gaminghouse{
    @include flexbox-grid (flex, center, center);;
    @include margin-padding (0px,40px);
    flex-wrap: wrap;
}
.iframe{
    @include margin-padding (20px,0px);
    border-radius: 25px;
    border: 2px solid nth($colores, 5);
    
}
.iframe:hover{
    @extend %animacion;
}