//DESKTOP FIRST
#esport{
    @include margin-padding (0px,0px);
    padding-top: 10rem;
}
.contenedor-img-juego {
    width: 80%;
    @include flexbox-grid (flex, center, center);
    @include margin-padding (0px,0px);
    flex-wrap: wrap;
}
.img-juegos {
    @include margin-padding (2rem,0px);
    width: 100%;
    border-radius: 1rem;
    border: 2px solid nth($colores, 2);
}      
.contenedor-img-jugadores {
    @include flexbox-grid (flex, center, center);;
    flex-wrap: wrap;
    width: 30%;
}
.img-jugadores {
    @include margin-padding (20px,0px);
    border: 5px solid nth($colores, 2);
    border-radius: 25px;
    width: 100px;
    height: 100px;
}
.img-juegos:hover{
    @extend %animacion;
}

//MEDIA QUERY MIN-WIDTH 701px y MAX-WIDTH 991px
@media (min-width: 701px) and (max-width: 991px){
    #esport{
        @include margin-padding (0px,0px);
        padding-top: 7rem;

    }
    .contenedor-img-juego {
        width: 80%;
        @include flexbox-grid (flex, center, center);
        @include margin-padding (1rem,0px);
        flex-wrap: wrap;
    }
}


//MEDIA QUERY MIN-WIDTH 300px y MAX-WIDTH 700px
@media (min-width: 300px) and (max-width: 700px){
    #esport{
        @include margin-padding (0px,0px);
        padding-top: 6rem;

    }
    .contenedor-img-juego {
        width: 80%;
        @include flexbox-grid (flex, center, center);
        @include margin-padding (0px,0px);
        flex-wrap: wrap;
    }
}