//AGREGO ESTILOS A LA SECCION STREAMERS
#streamers{
    @include margin-padding (0px,9rem);
}
.contenedor-img-streamers{
    @include flexbox-grid (flex, center, center);
    @include margin-padding (20px,0px);
    flex-wrap: wrap;
}
.img-streamers{
    @include margin-padding (2rem,0px);
    width: 200px;
    height: 200px;
    border-radius: 25px;
    border: 2px solid nth($colores, 5);
}
.img-streamers:hover{
    @extend %animacion;
}