//AGREGO ESTILOS A LA SECCION EQUIPOS DE E-SPORT
#esport{
    @include margin-padding (0px,9rem);
}
.contenedor-img-juego {
    @include flexbox-grid (flex, center, center);
    @include margin-padding (0px,0px);
    flex-wrap: wrap;
}
.img-juegos {
    @include margin-padding (100px,0px);
    width: 340px;
    height: 215px;
    border-radius: 10px;
    border: 2px solid nth($colores, 2);
}      
.contenedor-img-jugadores {
    @include flexbox-grid (flex, center, center);;
    flex-wrap: wrap;
    width: 30%;
}
.img-jugadores {
    @include margin-padding (20px,0px);
    border: 5px solid nth($colores, 2);
    border-radius: 25px;
    width: 100px;
    height: 100px;
}
.img-jugadores:hover{
    @extend %animacion;
}