@import '../base/listas';

//AGREGO ESTILOS A LA SECCION PARTNERS
#partners{
    padding: 150px;
}
.contenedor-img-partners{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 40px;
}
.columna1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.columna2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.img-partners{
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 25px;
    border: 2px solid nth($colores, 2);
}
.img-partners:hover{
    transform: scale(1.10);
    transition: all 0.2s;
}
