
@mixin margin-padding ($margin, $padding){
    margin: $margin;
    padding: $padding;
}

@mixin flexbox-grid($display, $justify, $align){
    display: $display;
    justify-content: $justify;
    align-items: $align;
}